
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

.main-container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    width: 90%;
    max-width: 460px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 2rem;
    text-align: left;
    border: none;
    color: white;
    background-color: hsl(0, 0%, 20%);
}

.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operators{
    background-color: #e49414;
}
.operators:hover{
    background-color: #ffa20e;
}
.operators:active{
    background-color: #ffbb00;
}